<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/styles/styles.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css"
    rel="stylesheet"
  />
</head>

<html>
  <title>akoc1</title>

  <div id="root">
    <nav>
      <button
        class="glass-button"
        style="font-family: LexendBold; font-size: 24px; gap: 16px"
      >
        <img
          style="border-radius: 50%"
          src="https://avatars.githubusercontent.com/u/72667213?v=4"
          width="48"
          height="48"
        />akoc1
      </button>
      <div class="navigation-buttons">
        <button class="glass-button">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
              />
            </svg>
            <span>Skills</span>
          </span>
        </button>
        <button class="glass-button">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
              />
            </svg>

            <span>Projects</span>
          </span>
        </button>
        <button class="glass-button">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>

            <span>Contact</span>
          </span>
        </button>
        <button class="glass-button">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>

            <span>About</span>
          </span>
        </button>
      </div>
    </nav>

    <body>
      <div id="welcoming" class="info-container" style="height: 100vh">
        <h1>
          <span style="font-family: FiraCodeBold">> Hello world!</span>
        </h1>
        <p>
          I'm a passionate Computer Engineering student who thinks problem
          solving is awesome.
        </p>
      </div>
      <div id="skills" class="info-container">
        <div class="info-container-title">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
            />
          </svg>
          <h1>Skills</h1>
        </div>

        <p>
          A game developer focused on creating immersive and interactive
          experiences. Started with small projects and now works on larger, more
          complex games. Also interested in desktop application development and
          web-based solutions.
        </p>

        <div class="code-wrapper">
          <pre
            class="code-container"
          ><code class="language-csharp">public class Program
{
    static List&lt;string&gt; Skills = new List&lt;string&gt;()
    {
          "C#", "Godot", "MonoGame", "Python", "GDScript",
          "ASP.NET Core", "Entity Framework Core",
          "SignalR", "AWS", "WinUI",
    };

    public static void Main(string[] args)
    {
          foreach (string skill in Skills)
          {
              Console.WriteLine($"I can use {skill}");
          }

          Console.WriteLine("Press any key to continue...");
          Console.ReadKey();
    }
}
</code></pre>
        </div>
      </div>
      <div id="projects" class="info-container">
        <div class="info-container-title">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
            />
          </svg>
          <h1>Projects</h1>
        </div>
        <section class="projects-grid">
          <a
            href="https://github.com/akoc1/multiplayer-chess"
            target="_blank"
            rel="noopener noreferrer"
            class="project-item"
          >
            <div class="project-image">
              <img
                src="https://camo.githubusercontent.com/eb4dcb8e35d91da2696cbdc95c3362d606ef84fe92efd8489dd4f38975f3a5d9/68747470733a2f2f692e6962622e636f2f42484371743954582f3435323831383132322d65643763643035312d623862642d343738342d383465642d6466636237386266336530382e706e67"
                alt="Multiplayer Chess"
              />
            </div>
            <h3>Multiplayer Chess</h3>
            <p>
              The game, developed using <span class="godot">Godot</span> and
              <span class="csharp">C#</span>, allows two players to play chess
              over the network with real-time communication between a dedicated
              server and game clients using
              <span style="color: gold">Protocol Buffers</span>
            </p>
          </a>

          <a
            href="https://github.com/akoc1/GameGate"
            target="_blank"
            rel="noopener noreferrer"
            class="project-item"
          >
            <div class="project-image">
              <img
                src="https://private-user-images.githubusercontent.com/72667213/349022617-3d550fae-6b10-401b-9ad9-f77916518663.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTE2NDI1MTMsIm5iZiI6MTc1MTY0MjIxMywicGF0aCI6Ii83MjY2NzIxMy8zNDkwMjI2MTctM2Q1NTBmYWUtNmIxMC00MDFiLTlhZDktZjc3OTE2NTE4NjYzLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTA3MDQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwNzA0VDE1MTY1M1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTg4YzdmZDdkODQyNTEzYWE3N2E4ZDM1NjI1ZWJiYzkyMThjNWNlYWM1MTZhMjllZjNmOTMyNGExMDUwNDFlY2YmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.1XT0Jf57XBC0062Zq2HycTFnxKUMs_vNMKGnmlr1QHQ"
                alt="Game Gate"
              />
            </div>
            <h3>Game Gate</h3>
            <p>
              A simple game launcher created for Windows using the
              <span style="color: #42d6ff">WinUI</span>
              framework
            </p>
          </a>

          <a
            href="https://frytime.com.tr/"
            target="_blank"
            rel="noopener noreferrer"
            class="project-item"
          >
            <div class="project-image">
              <img src="https://i.ibb.co/yFs2drdn/frytime.png" alt="Fry Time" />
            </div>
            <h3>Fry Time</h3>
            <p>
              A commercial restaurant information website developed with
              <span class="asp-net">ASP.NET</span> and
              <span class="csharp">C#</span>
            </p>
          </a>

          <a
            href="https://github.com/akoc1/PresentationMadeEasy"
            target="_blank"
            rel="noopener noreferrer"
            class="project-item"
          >
            <div class="project-image">
              <img
                src="https://private-user-images.githubusercontent.com/72667213/382098274-0cf6a1df-7f7b-4636-bd7c-706957d7733d.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTE2NDIxMDgsIm5iZiI6MTc1MTY0MTgwOCwicGF0aCI6Ii83MjY2NzIxMy8zODIwOTgyNzQtMGNmNmExZGYtN2Y3Yi00NjM2LWJkN2MtNzA2OTU3ZDc3MzNkLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTA3MDQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwNzA0VDE1MTAwOFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTAzNmU1YzhhNWI0YzVhZTVlMGIzYWQ5NDRiZWJhNTExMjRhZTc5MmNlMTNhMGVkODdlMDNiNGUwMjUzODI3NjEmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.oMbUiAL5aW943vqqnu6DmB0pKNKH6rOYaNI3kyLdSOk"
                alt="Presentation Made Easy"
              />
            </div>
            <h3>Presentation Made Easy</h3>
            <p>
              Presentation Made Easy is a <span class="csharp">C#</span> and
              <span style="color: #42d6ff">WinUI</span>-based application that
              allows users to easily navigate between sections while giving a
              presentation
            </p>
          </a>

          <a
            href="https://github.com/akoc1/GameGate"
            target="_blank"
            rel="noopener noreferrer"
            class="project-item"
          >
            <div class="project-image">
              <img
                src="https://i.ibb.co/ycW6GTWH/esenlik.png"
                alt="Game Gate"
              />
            </div>
            <h3>Esenlik Sağlık Hizmetleri</h3>
            <p>
              A commercial health institution information website developed with
              <span class="asp-net">ASP.NET</span>
              <span style="color: #08ee69">MongoDB</span> and
              <span class="csharp">C#</span>
            </p>
          </a>

          <!-- İstersen daha fazla item ekleyebilirsin -->
        </section>
      </div>
    </body>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-csharp.min.js"></script>
</html>
